@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #FAF8F5;
    color: #23211E;
    font-family: 'Poppins', sans-serif;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #FAF8F5;
}

::-webkit-scrollbar-thumb {
  background: #E8E4DC;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #D97757;
}
